.footer {
    & hr {
        display: block;
        border: 0;
        border-top: 1px solid $neutral200;
    }

    &Content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 17px;
    }

    &Text {
        color: $neutral600;
    }

    &Medias {

        &Link {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }

            & .icon {
                color: $neutral600;
                font-size: 17px;

                &:hover {
                    opacity: 70%;
                }
            }
        }
    }
}