$neutral0: #FFFFFF;
$neutral100: #FBF9F7;
$neutral200: #EFEDEB;
$neutral300: #DEDCDA;
$neutral400: #C0BFBF;
$neutral600: #4A4846;
$neutral700: #34302D;
$neutral800: #201E1D;
$neutral900: #1C1A19;
$blue200: #E1F1FE;
$blue500: #93CEFC;
$blue700: #75B0DE;
$blue800: #5792C0;
$blue900: #022B4A;
$green200: #E9F5EA;
$green500: #9DD3A9;
$green700: #008531;
$green900: #132A18;
$yellow200: #FFF5E1;
$yellow500: #FACC79;
$yellow700: #EA9806;
$yellow900: #4A3003;
$red400: #F04438;
$red600: #D92D20;